Repository williamdes/mariadb-mysql-kbs: changes, and which Codecov flags are due for each by the changed paths.
All: php, node, rust

ci: fix sending coverage
  .github/workflows/tests.yml
Due: none

ci: fix coverage filter
  .github/workflows/tests.yml
Due: none

ci: fix coverage on PHP 7.2
  .github/workflows/tests.yml
Due: none

chore: drop PHPunit 7
  composer.json
Due: none

chore: drop worflows from this branch
  .github/workflows/lock.yml
  .github/workflows/merge.yml
Due: none

docs: Updated documentation 📚
  DOCTUM_VERSION
  Williamdes/MariaDBMySQLKBS.html
  Williamdes/MariaDBMySQLKBS/KBException.html
  classes.html
  doc-index.html
  doctum-search.json
  doctum.js
  js/autocomplete.min.js
  js/typeahead.min.js
  renderer.index
Due: none

Revert "chore: drop worflows from this branch"
  .github/workflows/lock.yml
  .github/workflows/merge.yml
Due: none

docs: Updated documentation 📚
  .github/workflows/lock.yml
  .github/workflows/merge.yml
Due: none

ci: improve cleanup script
  scripts/sudo-bot/create-pr.sh
Due: none

ci: fix file cleanup
  scripts/sudo-bot/create-pr.sh
Due: none

ci: fix excluding folder paths
  scripts/sudo-bot/create-pr.sh
Due: none

ci: fix current dir "." in find
  scripts/sudo-bot/create-pr.sh
Due: none

ci: exclude .github from git ls files
  scripts/sudo-bot/create-pr.sh
Due: none

ci: exclude .github from sudo-bot
  scripts/sudo-bot/.sudo-bot-ignore
Due: none

update: [MariaDB] && [MySQL] updates
  data/variables/mariadb-replication-and-binary-log-status-variables.json
  data/variables/mariadb-s3-storage-engine-system-variables.json
  data/variables/mysql-aurora-aws-rds-aurora-mysql.json
  dist/merged-raw.json
  dist/merged-raw.md
  dist/merged-slim.json
  dist/merged-ultraslim.json
  dist/merged-ultraslim.php
Due: none

update: [MariaDB] updates
  data/variables/mariadb-ssltls-system-variables.json
Due: none

update: [MariaDB] && [MySQL] updates
  data/variables/mariadb-server-status-variables.json
  data/variables/mariadb-spider-server-system-variables.json
  data/variables/mysql-innodb-parameters.json
  dist/merged-raw.json
  dist/merged-raw.md
  dist/merged-slim.json
  dist/merged-ultraslim.json
  dist/merged-ultraslim.php
Due: none

chore: update editorconfig
  .editorconfig
Due: none

!feat: Bump data version and add "'AURORA-MYSQL'" as type id 3
  src/SlimData.php
  src/merge.php
Due: php

fix: update Aurora MySQL anchor
  src/rust/aurora_mysql.rs
Due: rust

fix: update and improve schemas
  schemas/merged-raw.json
  schemas/merged-slim.json
  schemas/merged-ultraslim.json
Due: none

feat: update schemas
  schemas/data-types.json
  schemas/doc-version.json
  schemas/linked-key-var-url.json
  schemas/linked-key-var.json
  schemas/merged-raw.json
  schemas/merged-slim.json
  schemas/merged-ultraslim.json
  schemas/url-types.json
Due: none

feat: implement optional id and Aurora MySQL
  src/rust/aurora_mysql.rs
  src/rust/data.rs
  src/rust/mariadb.rs
  src/rust/merged_ultraslim.rs
  src/rust/mysql.rs
  src/rust/search.rs
Due: rust

feat: implement Aurora MySQL
  src/Search.php
  src/SlimData.php
  test/SearchTest.php
  test/SlimDataTest.php
  test/data/ultraSlimDataTestWithVariables.json
Due: php

update: 🤖 Some updates 🤖
  dist/merged-ultraslim.json
  dist/merged-ultraslim.php
Due: none

docs: Updated documentation 📚
  Williamdes/MariaDBMySQLKBS/Search.html
  renderer.index
Due: none

feat: handle links without table contents
  src/rust/data/mysql_test_case_9.html
  src/rust/mysql.rs
Due: rust

feat: also search into server-status-variables
  src/rust/mysql.rs
Due: rust

feat: also support statvar_
  src/rust/mysql.rs
Due: rust

feat: implement variables index
  src/rust/data/mysql_test_case_10.html
  src/rust/mysql.rs
Due: rust

fix: remove non needed code
  src/rust/mysql.rs
Due: rust

chore: bump Rust to 1.3.0-rc4
  Cargo.lock
  Cargo.toml
Due: none

ci: use rc4
  .github/workflows/cron.yml
Due: none

update: [MySQL] updates
  data/variables/mysql-audit-log-reference.json
  data/variables/mysql-aurora-aws-rds-aurora-mysql.json
  data/variables/mysql-innodb-parameters.json
  data/variables/mysql-mysql-cluster-options-variables.json
  data/variables/mysql-replication-options-binary-log.json
  data/variables/mysql-replication-options-binary-log_5.7.json
  data/variables/mysql-replication-options-replica.json
  data/variables/mysql-server-options.json
  data/variables/mysql-server-status-variables.json
  data/variables/mysql-server-status-variables_5.7.json
  data/variables/mysql-server-system-variables.json
  dist/merged-raw.json
  dist/merged-raw.md
  dist/merged-slim.json
  dist/merged-ultraslim.json
  dist/merged-ultraslim.php
Due: none

fix: schema updates
  schemas/merged-raw.json
  schemas/merged-slim.json
  schemas/merged-ultraslim.json
Due: none

fix: minor fixups
  src/rust/merged_ultraslim.rs
  src/rust/mysql.rs
Due: rust

fix: better handling of some specific cases
  src/rust/data/mysql_test_case_9.html
  src/rust/mysql.rs
Due: rust

fix: allow dots in variable names
  schemas/merged-raw.json
  schemas/merged-slim.json
  schemas/merged-ultraslim.json
Due: none

Path conditions:
  php: any of: src/*.php
  node: any of: scripts/sudo-bot/*.js
  rust: any of: src/rust/
